.pokemons {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
}

.pokemon {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    max-height: 70%;
}

.pokemon:hover {
    transform: scale(1.1);
    transition: 300ms;
}

.pokemon-number {
    text-align: right;
    color: #000;
    opacity: 0.6;
    font-size: .625rem;
}

.pokemon-name {
    color: #fff;
    margin-bottom: .25rem;
    text-transform: capitalize;
}

.pokemon-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: .5rem;
}

.pokemon-type {
    margin: 0;
    padding: 0;
    list-style: none;
}

.pokemon-type li {
    margin: .25rem 0;
    border-radius: 1rem;
    padding: .3rem .5rem;
    color: white;
    width: auto;
    font-size: .75rem;
    text-align: center;
    text-transform: capitalize;
    filter: brightness(1.2);
}

.pokemon-detail img {
    max-width: 80%;
    max-height: 60%;
}

.load-more {
    border-radius: 1rem;
    border: transparent;
    background-color: #375caa;
    color: #fff;
    text-align: center;
    margin-left: 45%;
}


.load-more:hover {
    transform: scale(1.2);
    transition: 300ms;
}

.load-more:active {
    background-color: #ffcc01;
    color: #fff;
}

.bug {
    background-color: #a1a41f;
}

.dark {
    background-color: #484848;
}

.dragon {
    background-color: #5363d3;
}

.electric {
    background-color: #fcdb00;
}

.fairy {
    background-color: #fab1fc;
}

.fighting {
    background-color: #fea401;
}

.fire {
    background-color: #fc6232;
}

.flying {
    background-color: #97cafd;
}

.ghost {
    background-color: #6c4272;
}

.grass {
    background-color: #3fc027;
}

.ground {
    background-color: #aa783e;
}

.ice {
    background-color: #3fdbfc;
}

.normal {
    background-color: #999999;
}

.poison {
    background-color: #9951cd;
}

.psychic {
    background-color: #fe617d;
}

.rock {
    background-color: #bbba88;
}

.steel {
    background-color: #69b1d7;
}

.water {
    background-color: #2f91ff;
}



@media screen and (min-width: 300px){
    .pokemons {
        grid-template-columns: repeat(2, 1fr);
    }

    .botao {
        width: 35%;
        margin-left: 35%;
    }
}

@media screen and (min-width: 576px){
    .pokemons {
        grid-template-columns: repeat(3, 1fr);
    }

    .botao {
        width: 25%;
        margin-left: 40%;
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: repeat(4, 1fr);        
    }

    .botao {
        width: 15%;
    }
}

@media screen and (min-width: 1200px) {
    .pokemons {
        grid-template-columns: repeat(5, 1fr);
    }

    .botao {
        margin-left: 43%;
    }
}
